@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans+JP:500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #EDF5E1;
    max-width: 100%;
}

body {
    background-color: #5CDB95;
}
#invisPlaceholder{
    position: absolute;
    width: 1vw;
    height: 1vw;
    margin-top: -4.45vh;
}
.bar {
    position: absolute;
    width: 1vw;
    height: 90vh;
    background-color: black;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
}
.rebtn{
    position: absolute;
    text-align: center;
    font-size: 2vw;
    width: 10vw;
    height: 5vh;
    background-color: #5CDB95;
    left: 50vw;
    top: 95vh;
    transform: translate(-50%, -50%);
    border-radius: 1vh;
    border: 2px solid black;
}
.contentBox{
/*     border: 2px solid black; */
    margin-left: 1vw;
    margin-right: 1vw;
}
h3{
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}
p {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.9vh;
}
#nav {
    position: relative;
    margin-top: 2vw;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#logoContainer {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 0;
    margin-top: 2vw;
    left: 2vw;
}

#logo {
    position: relative;
    height: 3vw;
    transform: rotate3d(1, 1, 1, 0deg);
    transition: transform 1s;
}

#logoContainer:hover #logo {
    transform: rotate3d(1, 1, 1, 360deg);
}

.link {
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
    height: 3vw;
    width: 10vw;
    font-family: 'Inconsolata', monospace;
    color: #05386B;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
}

.link:nth-child(3) {
    margin-right: 2vw;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.411);
}

.container {
    position: relative;
    /* top: -3vw; */
    left: 0;
    width: 100vw;
    height: calc(100vh - 4vw);
    /* border: 2px solid black; */
}

#btnHolder {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    width: 60vw;
}

#btnNav {
    /* border: 2px solid black; */
    display: flex;
    margin-top: 2vw;
    align-items: center;
    width: inherit;
    height: auto;
}

#btnDes {
    /* border: 2px solid white; */
    margin-top: 1vw;
    width: inherit;
    height: 5vh;
    display: flex;
}

.desc {
    /* border: 2px solid black; */
    font-family: 'Inconsolata', monospace;
    font-size: 2vw;
    width: 6vw;
    height: auto;
    margin: 0 3vw 0 3vw;
    text-align: center;
}

#btnNav a:nth-child(1) {
    background-color: #F2626B;
}

#btnNav a:nth-child(1):hover {
    box-shadow: inset 0 0 6vw 6vw rgba(255, 255, 255, 0.2);
}

#btnNav a:nth-child(2) {
    background-color: #FEBA4F;
}

#btnNav a:nth-child(2):hover {
    box-shadow: inset 0 0 6vw 6vw rgba(255, 255, 255, 0.2);
}

#btnNav a:nth-child(3) {
    background-color: #89E077;
}

#btnNav a:nth-child(3):hover {
    box-shadow: inset 0 0 6vw 6vw rgba(255, 255, 255, 0.2);
}

#btnNav a:nth-child(4) {
    background-color: #83C3FF;
}

#btnNav a:nth-child(4):hover {
    box-shadow: inset 0 0 6vw 6vw rgba(255, 255, 255, 0.2);
}

#btnNav a:nth-child(5) {
    background-color: #C381FD;
}

#btnNav a:nth-child(5):hover {
    box-shadow: inset 0 0 6vw 6vw rgba(255, 255, 255, 0.2);
}

h1 {
    margin-top: 6vw;
    /*added 3vw for the nav bar and more for pushing the title down*/
    color: #EDF5E1;
    text-align: center;
    font-size: 9vw;
    font-family: 'Noto Sans JP', sans-serif;
}
h2 {
    margin-top: 1vw;
    color: black;
    font-size: 3vw;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
h4 {
    margin-top: 2vw;
    text-decoration: underline;
    color: black;
    font-size: 2vw;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.btn {
    border: .2vw solid black;
    width: 6vw;
    height: 6vw;
    border-radius: 100px;
    margin: 0 3vw 0 3vw;
    text-align: center;
    line-height: 5.25vw;
    font-size: 3vw;
    font-family: 'Noto Sans JP', sans-serif;
}

#Topics {
    /* border: 2px solid black; */
    position: relative;
    /* top: -3vw; */
    /* margin-top: -.5vh; */
    width: 100vw;
    height: auto;
}

#Topic_1 {
    /* border: 2px solid blue; */
    background-color: #F2626B;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#Topic_2 {
    /* border: 2px solid blue; */
    background-color: #FEBA4F;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#Topic_3 {
    /* border: 2px solid blue; */
    background-color: #89E077;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#Topic_4 {
    /* border: 2px solid blue; */
    background-color: #83C3FF;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#Topic_5 {
    /* border: 2px solid blue; */
    background-color: #C381FD;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}
#leftContainer {
    width: 50vw;
    height: 90vh;
    /* border: 2px solid black; */
}
#transBox{
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#rightContainer {
    width: 50vw;
    height: inherit;
    /* border: 2px solid black; */
}
#challenges {
    width: inherit;
    height: 35vh;
    /* border: 2px solid blue; */
}
#furtherExploration {
    width: inherit;
    height: 55vh;
    /* border: 2px solid blue; */
}
ul {
    padding-left: 12vw;
    padding-right: 12vw;
}
ol{
    padding-left: 10vw;
    padding-right: 10vw;
}
li {
    color: black;
    font-size: 2vw;
    margin-top: 1vw;
}
#directions {
    text-align: center;
}
#smallerList {
    font-size: 1vw;
}
#specialOL{
    padding-left: 2vw;
    padding-right: 2vw;
}
#transitionBox {
    margin: 1vw;
    width: 10vh;
    height: 10vh;
    background-color: black;
}
#transitionBox1 {
    margin: 1vw;
    width: 10vh;
    height: 10vh;
    background-color: black;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
#transitionBox:hover {
    width: 42vw;
}
#transitionBox1:hover {
    width: 42vw;
}
#flexpic {
    height: 10vh;
}
